@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {
    --primary-white: #fff;
}

body {
    font-family: "Roboto Condensed" sans-serif;
}


/* .App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */


/*********************NAVBAR*************************/

.navbar-brand img {
    height: 10.9375rem;
    padding-left: 1.5625rem;
}


/*********************MENU LINKS*************************/

nav a.nav-link {
    /* font-weight: 500; */
    letter-spacing: .0375px;
    cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav>li>a {
    margin-right: .75rem;
    margin-left: .75rem;
    color: var(--primary-white) !important;
}


/* .wrapper {
    width: 100%;
    transform: scale(0.6);
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
} */